{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "env": {
    "node": true
  },
  "globals": {
    "expect": true,
    "ruleTester": true,
    "RuleTester": true
  },
  "rules": {
    "indent": ["error", 2]
  }
}
